<!DOCTYPE HTML>
<!-- adapted from: https://www.codinglabweb.com/2020/11/responsive-login-form-using-only-html.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
    <link th:href="@{css/login.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Welcome to InstantChat!</span></div>
        <!-- this won't work, don't know why: <form action="/chat" method="post"> -->
        <form th:action="@{/chat}" method="post">
            <div class="row">
                <i class="fas fa-comment"></i>
                <input type="text" placeholder="Username" id="receiver" name="receiver" required>
            </div>
            <div class="row button">
                <input type="submit" value="Start Chat">
            </div>
        </form>
    </div>
</div>

</body>
</html>
